* {
  margin: 0;
  padding: 0;
}

body {
  font-family: lato;
  font-size: 30px;
  background-image: linear-gradient(to right bottom, #2d388a, #00aeef);
}

p {
  margin-bottom: 100px;
}

button {
  min-width: 120px;
  min-height: 120px;
}

button {
  border: 1px solid black;
  border-radius: 0px;
  font-size: 30px;
  transition: all 0.3s linear;
  background: #333;
  color: #fff;
}

button:hover {
  color: #222;
  background: #999;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  flex-wrap: wrap;
}
